
body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
@media (max-width: 768px) {
    body { font-size: 1.125rem;}
}
h1 {
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    color: red;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem;
}
.main-title {
    font-size: 48px;
}
.navigation {
    background-color: blueviolet;
    font-size: 24px;
}
p {
    color: rgb(0, 0, 0);
    font-size: large;
    width: 30px;
    line-height: 2em;
    margin-bottom: 1rem;
}
#Hero {
    justify-self: center;

    width: 600px;
    height: 400px;
}

#kontaktpilt {
    width: 300px;
    height: 200px;
}
header {
    display: grid;
    text-align: center;

}
nav {
    display: flex;
    position: 1,;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    gap: 2rem;
    a:hover {color: red;}
    a:active {color:black} 
}
a:focus {
    background-color: yellow;
    width: 250px;
}
a:hover {
    background-color: green;
    font-size: 18px;
}
#sissejuhatus:hover {
    font-size: 2rem;
    background-color: gold;
}
#teooria:hover {
    background-color: blue;
    font-size: 1rem;
}
#kontakt {
    background-color: white;
}
span {
    font-size: 1.6em
}
video:focus {
    background-color: yellow;
}
audio:focus {
    background-color: yellow;
}
a:focus-visible {
    outline: 2px solid blue;
}
.layout {
   display: grid;
   grid-template-columns: 200px 1fr;
   gap: 1rem;
}
.card-row {
   display: flex;
   gap: 1rem;
}
.card-row div {
   background: green;
   padding: 1rem;
}
section:hover {
    font-size: 2rem;
    background-color: blue;
}
aside:hover {
    font-size: 2rem;
    background-color: brown;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}