
body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: normal;
}
h2 {
    color: red;
    display: grid;
    align-items: center;
    font-size: 2em;
}
.main-title {
    font-size: 48px;
}
.navigation {
    background-color: blueviolet;
    font-size: 24px;
}
p {
    color: rgb(0, 0, 0);
    font-size: large;
    width: 30px;
    line-height: 2em;
}
#Hero {
    justify-self: center;

    width: 600px;
    height: 400px;
}

#kontaktpilt {
    width: 300px;
    height: 200px;
}
header {
    display: grid;
    text-align: center;

}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    gap: 2rem;
    a:hover {color: red;}
    a:active {color:black} 
}
a:focus {
    background-color: yellow;
    width: 250px;
}
a:hover {
    background-color: green;
    font-size: 18px;
}
#sissejuhatus:hover {
    font-size: 2rem;
    background-color: gold;
}
#teooria:hover {
    background-color: blue;
    font-size: 1rem;
}
#kontakt {
    background-color: white;
}
span {
    font-size: 1.6em
}